@inherits LayoutComponentBase

<div class="page" style="background-color: #262626;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="color:lightgray;font-weight:lighter;background-color:#1F1F1F;">
        <div style="margin-top:3.6rem;background-color:#262626;padding-top:1rem;height:100%;border-radius:25px 0px 0px 0px;">
            <article class="content px-4" style="border-radius: 10px;">
                @Body
            </article>
        </div>
    </main>
</div>
